  <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12">
            <div class="header clearfix">
                <img src="images/header-contact-card.png" class="img-responsive" alt="My Benefits Contacts">
                <h1 class="header-text">MyBenefits <span>Contacts</span></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="contact-boxes clearfix carrier-contacts"><h2>Important Contacts</h2>
            <div class="col-sm-12">
              <div class="callout" ng-show="offline">Seems you're offline. This information may not be up to date. Check your network connection and try again.</div>

             <div class="med-select" ng-show="params.carrier.carrier==undefined">
              <div class="blue item-b" style="">
                <h3>Medical</h3>
                  
                <p><a href="" ui-sref="carrierList">Select your medical plan carrier (insurance company) <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </p>
              </div>
            </div>
            <div ng-show="params.carrier.carrier.length>0">
				<div class="orange item-b">
					<h3>{{params.carrier.category}}<span>{{'('+params.carrier.carrier+')'}}</span><span class="pull-right"><a class="med-select-change" ui-sref="carrierList"> <strong>Change Carrier</strong></a></span></h3>
					<p><a href="{{'tel:'+params.carrier.telno}}">{{params.carrier.telno}}</a></p>
					<p><a href="{{'http://'+params.carrier.web}}"   >{{params.carrier.web}}</a></p>
					<p class="med-acc-title" 	ng-show="params.carrier.searchTips">Provider search tips:</p>
					<div class="med-acc-text"  	ng-show="params.carrier.searchTips">
						<ul><li ng-repeat="item in params.carrier.searchTips track by $index">{{item}}</li></ul>
					</div>
				</div>
            </div>
          </div>
          <div class="col-sm-6 col-1 carrier-other">
              <div ng-show="loading">
				<img src="images/ellipsis.gif" class="img-responsive" style="margin:0 auto"/>
			</div>
			
			<!-- TEMPLATE 2 BEGIN -->
            <div ng-repeat="EXP in oth">
              <div ng-class-odd="'blue'" ng-class-even="'orange'" class="item-a">
                <h3>{{EXP.category}}</h3>
                <p><a href="{{'tel:'+EXP.telno}}">{{EXP.telno}}</a></p>
                <p><a href="{{'http://'+EXP.web}}">{{EXP.web}}</a></p>
              </div>
            </div>
			<!-- TEMPLATE 2 END -->
          </div>
         </div>
        <div class="contact-boxes clearfix carrier-question">
          <h2>Who is your medical plan carrier (insurance company)?</h2>
          <div class="col-sm-12 col-1"></div>
		</div>
        </div>
<div class="footer clearfix">
		<div class="col-xs-6"><img src="images/logo-tenent.png" alt="Tenet" class="pull-left"></div>
	</div>
