<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-12">
        <div class="header clearfix">
            <img src="images/header-contact-card.png" class="img-responsive" alt="My Benefits Contacts">
            <h1 class="header-text">MyBenefits <span>Contacts</span></h1>
        </div>
    </div>
</div>
<div class="row">
	<div class="contact-boxes clearfix carrier-contacts"><h2>Choose Your Carrier</h2>
		<div class="col-sm-6 col-1 carrier-other">
			<div ng-repeat="item in carriers" ng-show="!loading">
				<div ng-class-odd="'orange'" ng-class-even="'blue'" class="item-a" ng-click="showInfo(item)">
					<p>{{item.carrier}}</p>
					<!-- <p><a href="{{item.web}}" target="_blank">{{item.web}}</a></p> -->
				</div>
			</div>
			<div ng-show="loading">
				<h3 class="text-center">Loading...</h3>
			</div>
		</div>
	</div>
</div>
<div class="footer clearfix">
    <div class="col-xs-6"><img src="images/logo-tenent.png" alt="Tenet" class="pull-left"></div>
</div>